

/* ===== Primary Styles ========================================================
   Author: David Poindexter, Indiana University
   ========================================================================== */

/* =======================
    ALL: IU Branding Bar
   ======================= */
a {color: #990000;}
a:hover {
    color: #990000;
    text-decoration: underline;
}
#skipnav { left:-9999em; position:absolute;top:-9999em; }
header#identity {
	background-color: #7d110c;
	color: #fff;
	font-size: 0.625em; /* 10px */
	height: 44px;
	line-height: 1em; /* 10px */
    margin:0;
	padding:0;
}

div#signature {
    width: auto;
	max-width:920px;
	height: 44px;
	position: relative;
	text-align: left;
    margin: 0 auto;
}

#identity a {color: #fff;text-decoration: underline;}


#signature a.iu {
	background: url(../img/iu_crimson.gif) no-repeat 20px 0;
	display: block;
	height: 44px;
	left: -20px;
	margin-left: 20px;
    position: relative;
	top: 0;
	width: 250px;
}
#signature a.iu img {display: none;}

/* =======================
    IU Search Box
   ======================= */
form#iusearch {
	height: 44px;
	position: absolute;
	right: 15px;
	top: 0;
	width: auto;
}
#iusearch fieldset {
	border: none;
	float: left;
	margin: 0;
	padding: 0;
}

/* Fieldset 1 */
#iusearch fieldset#set1 {
	left: 0;
	position: relative;
	top: 17px;
}
#iusearch ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#iusearch li {
    display: block;
    min-width: 60px;
	float: left;
	margin: 0 10px 0 0;
}
#set1 ul.unstyled li label {    
    display: block;
    float: left;
    color: #fff;
    margin-left: 3px;
    margin-right:5px;
}
input#search1, input#search2 {
	left: 0;
	float: left;
	height: 13px;
	margin: 0;
	padding: 0;
	position: relative;
	top: 2px;
	width: 13px;
}
#set1 input {margin-top:0;}
#set1 ul.unstyled li a {font-size: 1.5em;}

/* Fieldset 2 */
#iusearch fieldset#set2 {left: 2px;	position: relative;	top: 12px;}
#iusearch #searchtxt {
	border: 1px solid #c59d9a;
	color: #616364;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6em; /* 10px */
	height: 1.500em; /* 15px */
	line-height: 1.100em; /* 11px */
	margin: 0 6px 0 0;
	min-height: 13px;
	padding: 2px 4px 0 4px;
/*	width: 9.300em; /* 93px *!/*/
    width: 120px;
}
#iusearch #go {margin: 2px 0 0 0;}

/* =======================
    ALL: IU Main Layout
   ======================= */

div#main {
    width: auto;
    max-width:920px;
}
div.content {
    margin: 40px 0;
    border: 1px solid #ccc;
    padding: 20px;
    
}
/* =======================
    ALL: IU Footer
   ======================= */
footer#copyright {
	font-size: 0.688em; /* 11px */
	line-height: 1.364em; /* 15px */
	width:90%;
	margin:0 auto;
	padding:0 15px;
}
div#blockiu, div#statement {
	height:28px;
	float:left;
}
div#blockiu img {
	margin:0 5px;
}
div#statement {
    padding-top: 5px;
}











